body
{
    margin: 0;
    padding: 0 0 115px;
}

.vertical-center 
{
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

.input_error
{
    outline: #ea7676 solid thin;
    background-color: #f2dede;
}

.password_ok
{
    outline: #7aea76 solid thin;
    background-color: #dff2de;
}

.animate_progressbar
{
    animation-name: progressbar;
    animation-duration: 5s;
    animation-timing-function: linear;
}

@keyframes progressbar 
{
    from {width: 0%;}
    to {width: 100%;}
}

.footer
{
    width: 100%;
    height: auto;
    background-color: #101010;
    text-align: center;
    padding-bottom: 2px;
}

.footer .container
{
    width: auto;
    display: inline-block;
}

#support_img_link
{
    float: left;
}

footer p
{
    font-size: 1em;
    margin: 9px auto 0;
    float: left;
}

footer a
{
    text-decoration: none;
    color: #777;
}

footer a:hover
{
    color: rgba(255, 255, 255, 0.75);
}

#footer_content2
{
    display: inline-block;
    word-break: keep-all;
}

.modal-header
{
    text-align: center;
}

.jumbotron
{
    padding: 15px;
    min-height: 170px;
    border-radius: 5px;
}

.logo_img
{
    margin-top: -12px; 
    height: 45px; 
    width: 45px;
}

#sign_in_btn
{
    display: block;
    margin: 0 auto;
    width: 250px;
}

#log_out_btn 
{
    color: rgba(0, 0, 0, 1);
}

.lang_btns
{
    display: block;
    margin-right: 20px;
    margin-top: 14px;
}

.lang_btns_mobile
{
    display: inline-block;
    margin: 15px auto 10px;
}

.no_info_paragraph
{
    text-align: center;
    font-size: 35px;
}

a:hover
{
    text-decoration: none;
}

.edit_item_info_btn
{
    font-size: 12px;
    padding: 3px 10px;
    margin: 0 0 0 20px;
}

#page_blend
{
    display: none;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.90);
}

#label_for_comment_checkbox
{
    display: inline-block;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 5px;
    font-size: 15px;
}

#comment_checkbox
{
    width: 15px;
    height: 15px;
}

#cookies_politics
{
    display: block;
    position: fixed;
    bottom: 75px;
    left: 0;
    height: 104px;
    width: 325px;
    background: #fffacf;
    border: 2px solid #000;
    border-radius: 10px;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#cookie_txt
{
    float: left;
    display: block;
    height: 100px;
    width: 250px;
    padding: 10px;
    font-weight: bold;
}

#cookie_img
{
    float: left;
    display: block;
    height: 70px;
    width: 70px;
    padding: 10px;
    padding-top: 25px;
}

#cookie_img img
{
    height: 50px;
    width: 50px;
}

#cookie_btns_wrap
{
    display: block;
    width: 230px;
    height: 40px;
    margin-top: 12px;
}

#cookie_btns_wrap .btn
{
    float: left;
}

#cookie_btns_wrap .btn:first-child
{
    margin-right: 20px;
}

.input-group
{
    z-index: 0;
}

.btn
{
    white-space: normal !important;
}

.panel-body
{
    word-break: break-all;
}

#account_settings_jumbotron, #admin_panel_jumbotron
{
    width: 95%;
    margin: 0 auto;
    text-align: center;
}

#admin_panel_jumbotron ul li
{
    cursor: pointer;
}

.not-active-link
{
    pointer-events: none;
    cursor: pointer;
    color: black;
    text-decoration: none;
}

/*!
// CSS only Responsive Tables
// http://dbushell.com/2016/03/04/css-only-responsive-tables/
// by David Bushell
*/
.rtable {
  /*!
  // IE needs inline-block to position scrolling shadows otherwise use:
  // display: block;
  // max-width: min-content;
  */
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.rtable,
.rtable--flip tbody {
  -webkit-overflow-scrolling: touch;
  background: -webkit-radial-gradient(left ellipse, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 75%) 0 center, -webkit-radial-gradient(right ellipse, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 75%) 100% center;
  background: radial-gradient(ellipse at left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 75%) 0 center, radial-gradient(ellipse at right, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 75%) 100% center;
  background-size: 10px 100%, 10px 100%;
  background-attachment: scroll, scroll;
  background-repeat: no-repeat;
}

.rtable td:first-child,
.rtable--flip tbody tr:first-child {
  background-image: -webkit-linear-gradient(left, white 50%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(to right, white 50%, rgba(255, 255, 255, 0) 100%);
  background-repeat: no-repeat;
  background-size: 20px 100%;
}

.rtable td:last-child,
.rtable--flip tbody tr:last-child {
  background-image: -webkit-linear-gradient(right, white 50%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(to left, white 50%, rgba(255, 255, 255, 0) 100%);
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 20px 100%;
}

.rtable th {
  font-size: 11px;
  text-align: left;
  text-transform: uppercase;
  background: #f2f0e6;
}

.rtable th,
.rtable td {
  padding: 6px 12px;
  border: 1px solid #d9d7ce;
}

.rtable--flip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  background: none;
}

.rtable--flip thead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
}

.rtable--flip tbody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
}

.rtable--flip tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.rtable--flip td,
.rtable--flip th {
  display: block;
}

.rtable--flip td {
  background-image: none !important;
  border-left: 0;
}

.rtable--flip th:not(:last-child),
.rtable--flip td:not(:last-child) {
  border-bottom: 0;
}