body
{
    margin: 0;
    padding: 0 0 50px;
}

.vertical-center 
{
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

.input_error
{
    outline: #ea7676 solid thin;
    background-color: #f2dede;
}

.password_ok
{
    outline: #7aea76 solid thin;
    background-color: #dff2de;
}

.animate_progressbar
{
    animation-name: progressbar;
    animation-duration: 5s;
    animation-timing-function: linear;
}

@keyframes progressbar 
{
    from {width: 0%;}
    to {width: 100%;}
}

.footer
{
    width: 100%;
    height: 40px;
    background-color: #101010;
    text-align: center;
}

.footer .container
{
    width: 460px;
}

footer p
{
    font-size: 15px;
    margin: 9px auto 0;
    float: left;
}

footer a
{
    float: left;
}

.modal-header
{
    text-align: center;
}

.jumbotron
{
    padding: 15px;
    min-height: 170px;
    border-radius: 5px;
}

.logo_img
{
    margin-top: -12px; 
    height: 45px; 
    width: 45px;
}

#sign_in_btn
{
    display: block;
    margin: 0 auto;
    width: 250px;
}

.lang_btns
{
    display: block;
    margin-right: 20px;
    margin-top: 14px;
}

.lang_btns_mobile
{
    display: inline-block;
    margin: 15px auto 10px;
}

.no_info_paragraph
{
    text-align: center;
    font-size: 35px;
}

a:hover
{
    text-decoration: none;
}






