RewriteEngine on
RewriteBase /

RewriteRule ^o-projekcie ./php/about.php [NC]
RewriteRule ^about-project ./php/about.php [NC]

RewriteRule ^ustawienia-konta ./php/account_settings.php [NC]
RewriteRule ^account-settings ./php/account_settings.php [NC]

RewriteRule ^panel-administracyjny ./php/admin_panel.php [NC]
RewriteRule ^administration-panel ./php/admin_panel.php [NC]